server:
  port: 8080

spring:
  cloud:
    gateway:
      default-filters:
      - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers:
            - "*"
            exposed-headers:
            - Authorization
            - X-Session-Key
            allowCredentials: true

      routes:
        - id: identity-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          
logging:
  level:
    # Gives you detailed routing logs locally so you can see exactly where traffic goes
    '[org.springframework.cloud.gateway]': TRACE

nexus:
  security:
    jwt:
      public-key: classpath:certs/public.pem
    open-endpoints: /auth/register,/auth/login,/auth/public-key