server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          
logging:
  level:
    # Gives you detailed routing logs locally so you can see exactly where traffic goes
    '[org.springframework.cloud.gateway]': TRACE